<p-toolbar
    styleClass="border-none border-bottom-1 surface-border border-noround p-3 flex align-items-center min-h-4rem">
    <ng-template pTemplate="start">
        <div class="flex align-items-center gap-2">
            <p-button icon="pi pi-bars" [text]="true" styleClass="md:hidden mr-2" (onClick)="onToggleSidebar.emit()">
            </p-button>
            <span class="text-xl font-bold">Gestión de Facturas</span>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <div class="flex align-items-center gap-3">
            <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle" />
            <span class="font-semibold hidden md:block">{{ user.name }}</span>
            <p-button icon="pi pi-sign-out" [text]="true" severity="danger" tooltipPosition="bottom"
                pTooltip="Cerrar sesión"></p-button>
        </div>
    </ng-template>
</p-toolbar>