USE [master]
GO

IF EXISTS (SELECT name FROM sys.databases WHERE name = N'InvoiceSystemDb')
BEGIN
    ALTER DATABASE [InvoiceSystemDb] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE [InvoiceSystemDb];
END
GO

CREATE DATABASE [InvoiceSystemDb]
GO

USE [InvoiceSystemDb]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =============================================
   1. TABLAS DEL SISTEMA (EF Core History)
   ============================================= */
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)
) ON [PRIMARY]
GO

/* =============================================
   2. TABLAS MAESTRAS (Catálogos)
   ============================================= */

-- CUSTOMERS
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[IdentificationType] [int] NOT NULL,
	[Identification] [nvarchar](13) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- PRODUCTS
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- SELLERS
CREATE TABLE [dbo].[Sellers](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Sellers] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- USERS (AUTH)
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

/* =============================================
   3. TABLAS TRANSACCIONALES (Core)
   ============================================= */

-- INVOICES (HEADER)
CREATE TABLE [dbo].[Invoices](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[InvoiceNumber] [nvarchar](20) NOT NULL,
	[IssueDate] [datetime2](7) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[SellerId] [uniqueidentifier] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[TaxRate] [decimal](5, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CustomerEmail] [nvarchar](max) NULL,
	[CustomerIdentification] [nvarchar](max) NOT NULL DEFAULT (N''),
	[CustomerName] [nvarchar](max) NOT NULL DEFAULT (N''),
	[CustomerPhone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- INVOICE DETAILS (ITEMS)
CREATE TABLE [dbo].[InvoiceDetails](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[InvoiceId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[LineTotal] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

-- INVOICE PAYMENTS (MULTIPLE PAYMENT METHODS)
CREATE TABLE [dbo].[InvoicePayments](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[InvoiceId] [uniqueidentifier] NOT NULL,
	[PaymentMethod] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Reference] [nvarchar](100) NULL,
	[CardLastFourDigits] [nvarchar](4) NULL,
	[BankName] [nvarchar](100) NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Notes] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsVoided] [bit] NOT NULL,
	[Installments] [int] NULL,
 CONSTRAINT [PK_InvoicePayments] PRIMARY KEY CLUSTERED ([Id] ASC)
) ON [PRIMARY]
GO

/* =============================================
   4. ÍNDICES Y OPTIMIZACIÓN
   ============================================= */
CREATE NONCLUSTERED INDEX [IX_Customers_Email] ON [dbo].[Customers]([Email] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Customers_Identification] ON [dbo].[Customers]([Identification] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_InvoiceDetails_InvoiceId] ON [dbo].[InvoiceDetails]([InvoiceId] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_InvoiceDetails_ProductId] ON [dbo].[InvoiceDetails]([ProductId] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_InvoicePayments_InvoiceId] ON [dbo].[InvoicePayments]([InvoiceId] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_InvoicePayments_PaymentDate] ON [dbo].[InvoicePayments]([PaymentDate] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_Invoices_CustomerId] ON [dbo].[Invoices]([CustomerId] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Invoices_InvoiceNumber] ON [dbo].[Invoices]([InvoiceNumber] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_Invoices_IssueDate] ON [dbo].[Invoices]([IssueDate] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_Invoices_SellerId] ON [dbo].[Invoices]([SellerId] ASC)
GO
CREATE NONCLUSTERED INDEX [IX_Invoices_Status] ON [dbo].[Invoices]([Status] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_Code] ON [dbo].[Products]([Code] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Sellers_Code] ON [dbo].[Sellers]([Code] ASC)
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]([Username] ASC)
GO

/* =============================================
   5. RELACIONES (FOREIGN KEYS)
   ============================================= */
ALTER TABLE [dbo].[InvoiceDetails] WITH CHECK ADD CONSTRAINT [FK_InvoiceDetails_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices_InvoiceId]
GO

ALTER TABLE [dbo].[InvoiceDetails] WITH CHECK ADD CONSTRAINT [FK_InvoiceDetails_Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products_ProductId]
GO

ALTER TABLE [dbo].[InvoicePayments] WITH CHECK ADD CONSTRAINT [FK_InvoicePayments_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoicePayments] CHECK CONSTRAINT [FK_InvoicePayments_Invoices_InvoiceId]
GO

ALTER TABLE [dbo].[Invoices] WITH CHECK ADD CONSTRAINT [FK_Invoices_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers_CustomerId]
GO

ALTER TABLE [dbo].[Invoices] WITH CHECK ADD CONSTRAINT [FK_Invoices_Sellers_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Sellers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Sellers_SellerId]
GO